<a href="https://colab.research.google.com/github/gitmystuff/DTSC5502/blob/main/Module_05/Module_5_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 5 Assignment

You've been asked to clean and explore a dataset containing racers in Mario Kart

Enter your student id, in the next cell, when asked and then run the next two cells. The second cell will create the dataset you will be working on. If you run the second cell again, it will generate a new dataset so be aware. Do not edit the next two cells.

### Generate Seed and Data

In [ ]:
# create seed, run this cell as is, do not edit
import random

# provide your student id as stud_id, replace 123456789 with your student id (automatice 0 if not replaced with your student id)
stud_id = 123456789
my_seed = random.seed(stud_id)

In [ ]:
# run this cell as is, do not edit
import pandas as pd
import numpy as np
import re
import random
from sklearn.datasets import make_regression

def make_null(r, w):
    rtn = random.choices([np.nan, r], weights=[w, 100-w])
    return re.sub(r"[\[\]]",'', str(rtn))

variables = ['Mario', 'Luigi', 'Peach', 'Daisy', 'Yoshi', 'Toad', 'Koopa Troopa', \
             'Bowser', 'Donkey Kong', 'Wario, Waluigi', 'Bowser Jr.', 'Diddy Kong', \
             'Toadette', 'Rosalina', 'Lakitu', 'Metal Mario', 'Petey', 'King Boo', \
             'Mii', 'Pauline', 'Lubba', 'Boom Boom', 'Boomette', 'Captain Syrup', \
             'Dixie Kong', 'E. Gadd', 'Kamek', 'Hammer Bro']

X, y = make_regression(n_samples=100, n_features=10, n_informative=6)
random.shuffle(variables)
cols = variables[:10]
df = pd.DataFrame(data=X, columns=cols)
df[cols[0]] = round(df[cols[0]], 4)
df[variables[10]] = 0.03
df[variables[11]] = 0.07
df[variables[12]] = df[variables[0]]
df[variables[13]] = df[cols[1]]
df[variables[10]] = df[variables[10]].apply(make_null, args=(2,))
df[variables[13]] = df[variables[13]].apply(make_null, args=(5,))
df[variables[14]] = random.sample(range(100, 1000), k=100)
df[variables[15]] = random.sample(range(1000, 10000), k=100)

df[variables[7]] = df[variables[7]].apply(lambda r: abs(r) if (r < -0.02) else r)
df[variables[8]] = df[variables[8]].apply(lambda r: abs(r)*-1 if (r > 0.01) else r)
df[variables[9]] = df[variables[9]].apply(lambda r: abs(r) if (r < -0.01) else r)
df[variables[7]] = df[variables[7]].apply(make_null, args=(7,))
df[variables[8]] = df[variables[8]].apply(make_null, args=(8,))
df[variables[9]] = df[variables[9]].apply(make_null, args=(9,))

cats = [random.choice(['Mushroom Gorge', 'Choco Mountain']) for i in range(100)]
df[variables[16]] = cats
cats = [random.choice(['Green Shell', 'Red Shell']) for i in range(100)]
df[variables[17]] = cats
cats = [random.choice(['Fast', 'Medium', 'Slow']) for i in range(100)]
df[variables[18]] = cats
cats = [random.choice(['Bike', 'Buggy', 'Runner', 'Wiggler', 'Sprinter']) for i in range(100)]
df[variables[19]] = cats

df = df[np.random.default_rng(seed=my_seed).permutation(df.columns.values)]

df['Mario Kart'] = y

dupes = df.loc[0:5]
df = pd.concat([df, dupes], axis=0)
df = df.sample(frac=1).reset_index(drop=True)

df.to_csv('Mario Kart.csv', index=False) # comment this out after successful run so that you don't overwrite your data

### Data Prep

In [ ]:
# create dataframe from Mario Kart.csv

In [ ]:
# df info

In [ ]:
# identify constants

In [ ]:
# drop constant variables

In [ ]:
# identify quasi constant values (sometimes these may be boolean variables)

In [ ]:
# drop the quasi constant variables with low cardinality where one label shows up 98% more times than other labels

In [ ]:
# identify duplicate rows

In [ ]:
# drop duplicate rows and print shape

In [ ]:
# check of duplicate columns

### Imputation

Use histograms to view the shape of your numerical variables
* Use mean to replace missing data for normal (ish) variables
* Use median to replace missing data for skewed variables
* Use mode to replace missing data for categorical variables

In [ ]:
# plot histograms

In [ ]:
# show null values for each variable
# df.isnull().sum()

In [ ]:
# replace missing data with appropriate mean, median, or mode and confirm with isnull().sum()

### Exploratory Data Analysis

In [ ]:
# describe df

Using df.describe(), identify the two variables with max values greater than 100. These variables have scales that are quite different than the other variables and must be scaled so that they share the same scale as the other variables. Standardize one feature and Normalize the other feature.

In [ ]:
# standardize feature

In [ ]:
# normalize feature

In [ ]:
# describe data again to verify transformations

In [ ]:
# df.info()

In [ ]:
# check for outliers

In [ ]:
# vif test

In [ ]:
# delete one of the variables out of the pair(s) that show multicollinearity

In [ ]:
# verify you no longer have multicollinearity

In [ ]:
# show correlation heat map for variables

In [ ]:
# correlation with target
# change rot=45 to rot=90 (text rotation)

List four variables that show the most correlation with the Mario Kart

_Type your answer here_